body {
    color: #1c1c20;
    font-family: 'Oxygen', sans-serif;
}

.navbar {
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-brand{
    color: #1c1c20;
}

h2 {
    margin-top: 20px;
}

section {
    border: 1.5px solid #000;
    margin-top: 10%;
    margin-bottom: 3%;
    padding: 8%;
    background-color: rgba(342, 0, 0, .7);
    
}
